form {
    background-color:rgb(231, 238, 238);
    padding: 16px;
    border-radius: 20px;
    margin-top: 10em;
    margin-bottom: 5em;
}

h1 {
    margin-bottom: 16px;
}

button {
    margin-top: 8px;
}

